@import "../../colors.scss";

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: $white;
    border-bottom: 2px solid $black;
    padding: 15px 0;

    &__container {
        position: relative;
        max-width: 1400px;
        height: 100%;
        margin: 0 auto;
        padding: 0 28px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 150px;

        img {
            max-width: 100%;
        }
    }
}

.header-profile {
    padding: 10px 0px;

    &__icon {
        display: block;
        width: 33.48px;
        height: 33.48px;
        border-radius: 50%;
        background-color: $black;

        &:hover {
            cursor: pointer;
        }
    }

    &__container {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        top: 100%;
        right: 28px;
        background-color: $white;
        border: 1px solid #000;
        padding: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        transition: 0.3s;
        font-size: 25px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__disconnect-button {
        font-size: 25px;
        padding: 15px;
    }
}

.header-profile:hover {
    padding-left: 50px;
    .header-profile__container {
        visibility: visible;
        opacity: 1;
        pointer-events: all;
    }
}